@{
    ViewData["Title"] = "Welcome!";
}

<div class="bg">
    <div class="content">
        <p>There's never been an easier place to study. Join the community! </p>
        <a class="deckId-button" id="getInvolved" asp-controller="account" asp-action="login">Get Involved!</a>
    </div>
</div>

<link href="~/css/Home/splash.css" rel="stylesheet" />
<script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

