div.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#complete-button {
    background-color: lightcoral;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

div#study-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#select-study-mode {
    width: 50vw;
    height: 25vw;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#select-study-mode h2 {
    margin-bottom: 15px;
    flex-grow: 1.5;
}

div.options {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-grow: 8;
}

div.btn-group {
    margin-bottom: 15px;
}

.order-div {
    display: flex;
}

.order-div h4 {
    padding-right: 10px;
}

.mode-div {
    display: flex;
}

.mode-div h4 {
    padding-right: 10px;
}

form.set-time {
    padding-bottom: 15px;
}

div#study-card {
    width: 50vw;
    height: 25vw;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    div#study-card:hover {
        transform: scale(1.015);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }

#study-card img {
    max-height: 95%;
    max-width: 95%;
}

div#score-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    width: 40vw;
    border-radius: 4px;
    max-height: 50px; /* approximate max height */
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    margin-top: 75px;
    opacity: 1;
    visibility: visible;
}

div#correct-button {
    color: green;
    background-color: lightgreen;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#correct-button {
    /*-moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;*/
    /*box-shadow: 0px 10px 14px -7px #276873;*/
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#correct-button:hover {
    background-color: #408c99;
}

div#correct-button:active {
    position: relative;
    top: 1px;
}

div#wrong-button {
    -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background: -moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color: #fe1a00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
    display: flex;
    justify-content: center;
    align-items: center;
}

    div#wrong-button:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
        background: -moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
        background-color: #ce0100;
    }

    div#wrong-button:active {
        position: relative;
        top: 1px;
    }

div.button {
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5vw;
    width: 100px;
    height: 25px;
    text-align: center;
}

div#score-count {
}

.no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

@keyframes flippy {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.flip {
    animation-name: flippy;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.hide-score {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.fade-out-animation {
    animation: fade-out;
    animation-duration: 0.4s;
}

.fade-in-animation {
    animation: fade-in;
    animation-duration: 0.4s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}