div.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#complete-button {
    background-color: lightcoral;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

div#study-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#select-study-mode {
    width: 50vw;
    height: 25vw;
    background-color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
}

#select-study-mode h2 {
    position: absolute;
    top: 5px;
    margin-bottom: 15px;
}

div.options {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

div.btn-group {
    margin-bottom: 15px;
}

div#study-card {
    width: 50vw;
    height: 25vw;
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    div#study-card:hover {
        transform: scale(1.015);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }

#study-card img {
    max-height: 95%;
    max-width: 95%;
}

div#score-tracker {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 12px 0;
    width: 40vw;
    border-radius: 4px;
    max-height: 50px; /* approximate max height */
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    margin-top: 75px;
    opacity: 1;
    visibility: visible;
}

div#correct-button {
    color: green;
    background-color: lightgreen;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#wrong-button {
    color: red;
    background-color: lightcoral;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.button {
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5vw;
}

div#score-count {
}

.no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

@keyframes flippy {
    from {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
}

.flip {
    animation-name: flippy;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.hide-score {
    opacity: 0;
    visibility: hidden;
    display: none;
}

.fade-animation {
    animation: fade-in;
    animation-duration: 0.4s;
}

@keyframes fade-in {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}
