div#study-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

div#study-card {
    width: 50vw;
    height: 25vw;
    background-color: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div#score-tracker {
    display: flex;
    background-color: aliceblue;
    padding: 5px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow-y: hidden;
    max-height: 50px; /* approximate max height */
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
    transform-origin: 0 0;
}

div#correct-button {
    color: green;
    background-color: lightgreen;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#wrong-button {
    color: red;
    background-color: lightcoral;
    width: 100px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.button {
    cursor: pointer;
    border-radius: 2px;
    margin: 0 5vw;
}

div#score-count {

}

.no-select {
    -webkit-user-select: none; /* Chrome all / Safari all */
    -moz-user-select: none; /* Firefox all */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

.hidden {
    
}

.hide-score {
    transform: scaleY(0);
}