USE [master]
GO
/****** Object:  Database [FlashCards]    Script Date: 4/17/2019 1:19:43 PM ******/
CREATE DATABASE [FlashCards]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FlashCards', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FlashCards.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FlashCards_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\FlashCards_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FlashCards].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FlashCards]
GO
USE [FlashCards]
GO
/****** Object:  Table [dbo].[cards]    Script Date: 4/17/2019 1:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[front] [nvarchar](max) NULL,
	[back] [nvarchar](max) NOT NULL,
	[img] [nvarchar](max) NULL,
	[card_order] [int] NOT NULL,
	[deck_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[decks]    Script Date: 4/17/2019 1:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[decks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[date_created] [datetime] NOT NULL,
	[is_public] [bit] NOT NULL,
	[for_review] [bit] NOT NULL,
	[users_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tags]    Script Date: 4/17/2019 1:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tags](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tag] [varchar](max) NOT NULL,
	[card_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/17/2019 1:19:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[display_name] [varchar](max) NULL,
	[email] [varchar](max) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[salt] [varchar](max) NOT NULL,
	[is_admin] [bit] NOT NULL,
	[role] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cards] ON 

INSERT [dbo].[cards] ([id], [front], [back], [img], [card_order], [deck_id]) VALUES (1, N'Encapsulation', N'This is the process of enclosing one or more items within a physical or logical package', N'', 2, 1)
INSERT [dbo].[cards] ([id], [front], [back], [img], [card_order], [deck_id]) VALUES (2, N'Inheritance', N'The act of having one class adopt the properties and methods of another class. This prevents code duplication and allows us to share code across classes while having the source code live in only one class file.', N'', 3, 1)
INSERT [dbo].[cards] ([id], [front], [back], [img], [card_order], [deck_id]) VALUES (3, N'Polymorphism', N'Polymorphism is the idea that something can be assigned a different meaning or usage based on the context it is referred to as. This specifically allows variables and objects to take on more than one form.', N'', 4, 1)
GO
SET IDENTITY_INSERT [dbo].[cards] OFF
SET IDENTITY_INSERT [dbo].[decks] ON 

INSERT [dbo].[decks] ([id], [name], [description], [date_created], [is_public], [for_review], [users_id]) VALUES (1, N'Object Oriented Programming (OOP)', N'Basics of OOP', CAST(N'2019-04-16T15:18:41.660' AS DateTime), 0, 0, 1)
INSERT [dbo].[decks] ([id], [name], [description], [date_created], [is_public], [for_review], [users_id]) VALUES (12, N'Junior Developer Common Questions', N'Terms that you may be asked in an interview', CAST(N'2019-04-17T10:20:54.440' AS DateTime), 0, 0, 1)
INSERT [dbo].[decks] ([id], [name], [description], [date_created], [is_public], [for_review], [users_id]) VALUES (13, N'Salesforce Platform Developer', N'Want to master the SalesForce platform? Study this!', CAST(N'2019-04-17T11:48:15.067' AS DateTime), 0, 0, 1)
SET IDENTITY_INSERT [dbo].[decks] OFF
SET IDENTITY_INSERT [dbo].[tags] ON 

INSERT [dbo].[tags] ([id], [tag], [card_id]) VALUES (1, N'potato', 1)
SET IDENTITY_INSERT [dbo].[tags] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [display_name], [email], [password], [salt], [is_admin], [role]) VALUES (1, N'John Fulton', N'email@email.com', N'SfJQM+YazJ1s+zJuHVnf3lVkQNQ=', N'f+jY7cb/4YI=', 0, N'User')
INSERT [dbo].[users] ([id], [display_name], [email], [password], [salt], [is_admin], [role]) VALUES (2, N'Lucy3726', N'lucy@lucy.com', N'ugS/+KNXk/6JGaKujb2ZDuOroz8=', N'9WGt3ibOmyM=', 0, N'User')
SET IDENTITY_INSERT [dbo].[users] OFF
ALTER TABLE [dbo].[decks] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[decks] ADD  DEFAULT ((0)) FOR [is_public]
GO
ALTER TABLE [dbo].[decks] ADD  DEFAULT ((0)) FOR [for_review]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_admin]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('user') FOR [role]
GO
ALTER TABLE [dbo].[cards]  WITH CHECK ADD FOREIGN KEY([deck_id])
REFERENCES [dbo].[decks] ([id])
GO
ALTER TABLE [dbo].[decks]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tags]  WITH CHECK ADD FOREIGN KEY([card_id])
REFERENCES [dbo].[cards] ([id])
GO
USE [master]
GO
