h1, h2, p {
    text-align: center;
}

#main-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    position: sticky;
    top: 50px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
}

#search-bar {
    margin-top: 12px;
    width: 25vw;
}

.decks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

a.deck-link {
    text-decoration: none;
    color: inherit;
    margin: 1.5% 2.5%;
}

    a.deck-link:hover {
        text-decoration: none;
        color: inherit;
    }

    a.deck-link:active {
        text-decoration: none;
        color: inherit;
    }

div.deck {
    width: 20vw;
    min-width: 250px;
    height: 25vw;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

    div.deck:hover {
        transform: scale(1.015);
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    }

    div.deck h1 {
        padding-top: 20%;
        padding-bottom: 8%;
        font-size: 200%;
    }

    div.deck p {
        font-size: 100%;
        text-decoration: none;
    }

div.preload {
    display: flex;
    justify-content: center;
    align-items: center;
}

hidden {
    display: none;
    opacity: 0;
}

.deck-buttons {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    width: 100%;
}

    .deck-buttons a {
        -moz-box-shadow: 0px 10px 14px -7px #276873;
        -webkit-box-shadow: 0px 10px 14px -7px #276873;
        box-shadow: 0px 10px 14px -7px #276873;
        background-color: #599bb3;
        -moz-border-radius: 8px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 13px 32px;
        margin-bottom: 15px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #3d768a;
    }

        .deck-buttons a:hover {
            background-color: #408c99;
        }

        .deck-buttons a:active {
            position: relative;
            top: 1px;
        }

@media only screen and (max-width: 1024px) {
}

@media only screen and (max-width: 500px) {

    #main-actions {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .deck-buttons a {
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    #search-bar {
        align-self: center;
        width: 88vw;
        margin: 5px 10px;
    }
}