.search-bar form {
    margin: 0 auto;
}

.decks {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

a.deck-link {
    text-decoration: none;
    color: inherit;
    margin: 1.5% 2.5%;
}

    a.deck-link:hover {
        text-decoration: none;
        color: inherit;
    }

    a.deck-link:active {
        text-decoration: none;
        color: inherit;
    }

div.deck {
    width: 20vw;
    min-width: 250px;
    height: 25vw;
    min-height: 350px;
    background-color: lightgray;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    div.deck:hover {
        background-color: lightblue;
    }

    div.deck h1 {
        padding-top: 20%;
        padding-bottom: 8%;
        font-size: 200%;
    }

    div.deck p {
        font-size: 100%;
        text-decoration: none;
    }

hidden {
    display: none;
    opacity: 0;
}

@media only screen and (max-width: 1024px) {
}