p {
    margin: 0;
}

.deck-title h1 {
    text-align: center;
}

.deck-title h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.content-box {
    display: flex;
    flex-direction: column;
}

.deck-description {
    text-align:center;
}

    .deck-description p {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

div.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

div.card {
    min-height: 20vh;
    height: 20vh;
    width: 30%;
    min-width: 215px;
    background-color: lightgray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 1%;
    padding: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

div.card:hover {
    transform: scale(1.015);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

    div.card p {
        font-size: 1.7em;
        text-align: center;
        text-overflow: ellipsis;
    }

div.card p.back {
    font-size: 1.3em;
    margin: auto;
    padding: 10px;
}

div.card img {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

div.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*background-color: rgba(255,255,255,0.7);
    border-radius: 6px;*/
}


.hidden {
    display: none;
    opacity: 0;
}

.deck-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.button {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 32px;
    margin-bottom: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.button:hover {
    background-color: #408c99;
}

.button:active {
    position: relative;
    top: 1px;
}

.deck-buttons a:last-child {
    -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
    box-shadow: inset 0px 1px 0px 0px #f29c93;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
    background: -moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: -ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
    background-color: #fe1a00;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #b23e35;
}

    .deck-buttons a:last-child:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
        background: -moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
        background-color: #ce0100;
    }

    .deck-buttons a:last-child:active {
        position: relative;
        top: 1px;
    }

.fa fa-trash {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

div.button-box {
    align-items: center;
    justify-content:center; 
    position: sticky;
    top: 20px;
    background-color: rgba(255, 255, 255, .9);
    z-index: 100;
}

.disabled {
    cursor: not-allowed !important;

}

div.buttons .button {
    font-size: 20px;
    transform: scale(0.5);
    padding: 13px 32px;
    margin: 0 -5%;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: whitesmoke;
    color: #000;
}

@media only screen and (max-width: 500px) {

    .content-box{
        flex-direction:column-reverse;
    }

    div.card {
        width: 100%;
        align-self: center;
    }

    div.deck-buttons {
        width: 100%;
    }

    .button {
        width: 100%;
        text-align: center;
    }

    #search-bar {
        width: 100%;
    }
}