div.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.card {
    height: 20vh;
    width: 30vw;
    background-color: lightgray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

div.card p {
    font-size: 2vw;
}

div.card p.back {
    font-size: 1vw;
}

div.card a {
    justify-self: flex-end;
}

.hidden {
    display: none;
    opacity: 0;
}