p {
    margin: 0;
}

.deck-title h1 {
    text-align: center;
}

.deck-title h1 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.deck-description {
    text-align:center;
}

    .deck-description p {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

div.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.card {
    height: 20vh;
    width: 30vw;
    background-color: lightgray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-bottom: 20px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div.card:hover {
    transform: scale(1.015);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

div.card p {
    font-size: 2vw;
}

div.card p.back {
    font-size: 1.3vw;
}

div.card a {
    justify-self: flex-end;
}

div.card img {
    max-width: 100%;
    max-height: 100%;
    padding: 15px;
}

.hidden {
    display: none;
    opacity: 0;
}

.deck-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.deck-buttons a {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.deck-buttons a:hover {
    background-color: #408c99;
}

.deck-buttons a:active {
    position: relative;
    top: 1px;
}

    .deck-buttons a:last-child {
        -moz-box-shadow: inset 0px 1px 0px 0px #f29c93;
        -webkit-box-shadow: inset 0px 1px 0px 0px #f29c93;
        box-shadow: inset 0px 1px 0px 0px #f29c93;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100));
        background: -moz-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background: -webkit-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background: -o-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background: -ms-linear-gradient(top, #fe1a00 5%, #ce0100 100%);
        background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100',GradientType=0);
        background-color: #fe1a00;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #d83526;
        display: inline-block;
        cursor: pointer;
        color: #ffffff;
        font-family: Arial;
        font-size: 15px;
        font-weight: bold;
        padding: 6px 10px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #b23e35;
    }

    .deck-buttons a:last-child:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00));
        background: -moz-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -webkit-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -o-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: -ms-linear-gradient(top, #ce0100 5%, #fe1a00 100%);
        background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00',GradientType=0);
        background-color: #ce0100;
    }

    .deck-buttons a:last-child:active {
        position: relative;
        top: 1px;
    }

.fa fa-trash {
    color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

.disabled {
    cursor: not-allowed !important;

}
        