@model int

@{
    ViewData["Title"] = "Time to Study!";
}

<div class="head">
    <div>
        <h1>Study Session</h1>
        <h3 id="countdown-clock"></h3>
    </div>
    <div class="btn btn-danger" id="complete-button">End Study Session</div>
</div>

<input type="hidden" value="@Model" id="deckId" />

<div id="study-area">
    <div id="select-study-mode" class="">
        <h2>Select Study Options</h2>
        <div class="options">

            <div class="order-div">
                <h4>Card Ordering: </h4>
                <div class="btn-group" role="group">
                    <div id="sequential-order-button" class="btn btn-default">Sequential</div>
                    <div id="random-order-btn" class="btn btn-default">Random</div>
                </div>
            </div>

            <div class="mode-div">
                <h4>Study Mode: </h4>
                <div class="btn-group" role="group">
                    <div id="normal-mode-btn" class="btn btn-default">Normal Study Mode</div>
                    <div id="lightning-mode-button" class="btn btn-default">Lightning Round Mode</div>
                </div>
            </div>

            <form class="set-time hidden">
                <div class="row">
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">Length</span>
                        <input id="minutes" type="number" class="form-control" placeholder="in seconds (per card)">
                    </div>
                </div>
            </form>

            <div id="start-session-btn" class="btn btn-primary">Start Session</div>

        </div>
    </div>

    <div id="study-card" class="hidden">
        <div id="study-card">
            <h2 id="card-front" class="no-select"></h2>
            <img id="img-front" class="no-select" />
            <h3 id="card-back" class="hidden no-select"></h3>
        </div>
    </div>

    <div id="score-tracker" class="hide-score hidden">
        <h3>Did you answer that correctly?</h3>
        <div class="score-buttons">
            <div id="correct-button" class="button">
                <i class="fas fa-check"></i>
            </div>
            <div id="wrong-button" class="button">
                <i class="fas fa-times"></i>
            </div>
        </div>
    </div>

    <div id="complete-session" class="hidden">
        <h2>Study Session Complete!</h2>
        <p class="correct"></p>
        <p class="incorrect"></p>
        <a asp-controller="Decks" asp-action="ViewDeck" asp-route-deckid="@Model">Back to Deck</a>
    </div>
</div>

<div>
    <a id="cancel-button" asp-controller="Decks" asp-action="ViewDeck" asp-route-deckid="@Model">Back to Deck</a>
</div>

<script src="~/js/Study/Index.js"></script>
<link href="~/css/Study/Index.css" rel="stylesheet" />