/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width: 320px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


.navbar-inverse {
    background-color: rgb(1, 200, 199); /*Todo*/
    border-color: rgb(0, 183, 180); /*Todo*/
    border-bottom-width: 5px; /*todo*/
}

.navbar-inverse .navbar-brand {
    color: whitesmoke; /*todo*/
}
.navbar-inverse .navbar-link {
    color: whitesmoke; /*todo*/
    text-shadow: 1px 2px 1px rgb(0, 183, 180);
}

.navbar-inverse .navbar-link:hover {
    color: #fff; /*todo hover*/
    text-shadow: 1px 2px 1px rgb(0, 183, 180);
}

.navbar-inverse .btn-link {
    color: whitesmoke; /*todo*/
    text-shadow: 1px 2px 1px rgb(0, 183, 180);
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: whitesmoke; /*todo*/
    text-shadow: 2px 1px 1px rgb(0, 183, 180);
}

.navbar-inverse .navbar-toggle {
    border-color: rgb(0, 183, 180); /*todo*/
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: rgb(0, 177, 177); /*todo*/
}

.navbar-inverse .navbar-text {
    color: whitesmoke; /*todo*/
}

.navbar-inverse .navbar-nav > li > a {
    color: whitesmoke; /*todo*/
}

.navbar-inverse {
    background-color: rgb(1, 200, 199); /*Todo*/
    border-color: rgb(0, 183, 180); /*Todo*/
    border-bottom-width: 5px; /*todo*/
}

.navbar-inverse .navbar-brand {
    color: whitesmoke; /*todo*/
}

.navbar-brand:hover,
.navbar-brand:focus {
    text-decoration: none;
    transform: scale(1.2); /*todo*/
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    padding-left: 100px;
    font-weight: bold;
    text-shadow: 1px 2px 1px rgb(0, 183, 180); /*todo*/
}

.navbar-collapse.in {
    /*overflow-y: auto;*/ /*todo*/
    overflow: hidden;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    padding-right: 60px;
    /*background-color: cornflowerblue;*/
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
    transform: scale(1.1); /*todo*/
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
    text-shadow: 1px 2px 1px rgb(0, 183, 180);
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    /*background-color: aquamarine;*/
}

.collapse.in {
    display: block;
    text-align: center; /*todo*/
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
