@model Capstone.Models.View_Models.TagViewModel

@{
    ViewData["Title"] = "Add Tags";
}

<h2>Add Tags</h2>
<p>Put tags on your card to make it easier to search for them!</p>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTag">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control tag" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="hidden-input form-group">
                <input asp-for="CardId" id="card-id" type="hidden" class="form-control" />
                <input asp-for="DeckId" id="deck-id" type="hidden" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="ViewDeck" asp-route-deckId="@Model.DeckId">Cancel</a>
</div>

<script src="~/js/Decks/AddTag.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}