@model IEnumerable<Capstone.Models.Deck>

@{
    ViewData["Title"] = "Community Decks";
}

<h2>Community Decks</h2>

<p>Here is a selection of our <em><strong>Official</strong></em> Quizler created decks as well as the decks created and shared by the Quizler community!</p>

<hr />

<div id="main-actions">
    <a id="official-button">View Official Decks Only</a>

    <div id="search-bar">
        <form asp-action="Search" method="get">
            <input class="input-lg" id="search-bar" name="query" placeholder="Search community cards..."> <!--TODO: Add same search functionality as My Decks-->
        </form>
    </div>
</div>

<div class="decks">

    @*Handled by CommunityDecks.js*@

</div>

<div class="preload">
    <img src="~/images/preloader.gif" class="preload" />
</div>

<script src="~/js/LazyLoad.js"></script>
<script src="~/js/Decks/CommunityDecks.js"></script>
<link href="~/css/Decks/Index.css" type="text/css" rel="stylesheet" />
