@{
    ViewData["Title"] = "My Decks";
}

<h1>My Decks</h1>

<p>Here are all of the decks <em>you</em> have created. Good luck studying!</p>

<hr />

<div id="main-actions">
    <div class="deck-buttons">
        <a asp-action="CreateDeck">Create a Deck</a>
    </div>

    <div class="search-bar">
        <form asp-action="Search" method="get">
            <input id="search-bar" class="input-lg" name="query" placeholder="Search your cards..." required>
        </form>
    </div>
</div>

@{//todo: <h2 id="results-header" class="hidden">Search Results:</h2>
}

<div class="decks">

        @*Handled by MyDeck.js*@

</div>


<div class="preload">
    <img src="~/images/preloader.gif" class="preload" />
</div>

<script src="~/js/LazyLoad.js"></script>
<script src="~/js/Decks/MyDecks.js"></script>
<link href="~/css/Decks/Index.css" type="text/css" rel="stylesheet" />
