@model Capstone.Models.View_Models.SearchViewModel

@{
    ViewData["Title"] = "Search Results";
}

@{
    List<Card> cards = Model.SearchResults.ToList();
}

<link href="~/css/Decks/CardSearchResults.css" rel="stylesheet" />

<h2>Search Results</h2>

@foreach (var card in Model.SearchResults)
{
    <div class="card-selector">
        <div class="card">
            <input class="hidden-card-id" type="hidden" value="@card.Id" />
            @if (String.IsNullOrEmpty(card.ImageURL))
            {
                <p class="front">@card.Front</p>
            }
            @if (!String.IsNullOrEmpty(card.ImageURL))
            {
                <img src="@card.ImageURL" />

            }
            <p class="back hidden">@card.Back</p>
        </div>
        <form asp-action="AddCardFromSearch" method="post">
            <input type="submit" value="Add Card to Deck" />
            <input type="hidden" class="submit-the-card-id" asp-for="Card.Id" />
            @if (Model.UserDecksSelectList.Count > 0)
            {
                <select asp-for="Card.DeckId" asp-items="Model.UserDecksSelectList"></select>
            }
        </form>
    </div>
}

<script src="~/js/Decks/SearchResults.js"></script>


