@model Capstone.Models.Card

@{
    ViewData["Title"] = "UpdateCard";
}

<h2>Edit Card</h2>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateCard" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Front" class="control-label"></label>
                <input asp-for="Front" class="form-control" />
                <span asp-validation-for="Front" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Back" class="control-label"></label>
                <input asp-for="Back" class="form-control" />
                <span asp-validation-for="Back" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardOrder" class="control-label"></label>
                <input asp-for="CardOrder" class="form-control" />
                <span asp-validation-for="CardOrder" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeckId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
