@model Capstone.Models.Card

@{
    ViewData["Title"] = "Update Card";
}

<h2>Edit Card</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit-card-form" asp-action="UpdateCard" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ImageURL" class="control-label"></label>
                <input asp-for="ImageURL" id="image-text" class="form-control" />
                <span asp-validation-for="ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Front" class="control-label"></label>
                <input asp-for="Front" id="front-text" class="form-control" />
                <span asp-validation-for="Front" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Back" class="control-label"></label>
                <input asp-for="Back" class="form-control" />
                <span asp-validation-for="Back" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardOrder" class="control-label"></label>
                <input asp-for="CardOrder" class="form-control" />
                <span asp-validation-for="CardOrder" class="text-danger"></span>
            </div>
            <div class="form-group tags">
                <label asp-for="Tags" class="control-label"></label>
                @foreach (Tag tag in Model.Tags)
                {
                    <input asp-for="@tag.Name" class="form-control" />
                }
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DeckId" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a asp-action="ViewDeck" asp-route-deckId="@Model.DeckId">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="~/js/Decks/EditCard.js"></script>