body, html {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0;
    animation: fadein;
    animation-duration: 1s;
}

div.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.about {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: rgba(224, 224, 224, 0.85); /*rgba(0, 255, 144, 0.5);*/
    border-color: aqua;
    border-radius: 10px;
    position: absolute;
    left: 18%;
    top: 10%;
    width: 66%;
    text-align: center;
}

div.about p {
    font-size: larger;
    font-weight: bold;
    padding: 13px 32px;
}

.bg {
    /* The image used */
    background-image: url("https://www.greengoldfarms.net/wp-content/uploads/2018/10/isolated-green-plant-leaves-providing-copy-space-against-a-white-background_vyporvknl__F0000.png");
    /* Full height */
    height: inherit;
    width: inherit;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    margin-bottom: 2%;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}