body, html {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0;
}

div.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.content {
    color: rgba(0, 255, 33, .8);
}

.bg {
    /* The image used */
    background-image: url("https://i.imgur.com/un0ABVo.jpg");
    /* Full height */
    height: inherit;
    width: inherit;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
