body, html {
    height: 100%;
    padding: 0;
    width: 100%;
    margin: 0;
    animation: fadein;
    animation-duration: 2s;
}

div.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

div.content {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: rgba(0, 255, 144, 0.5);
    border-color: aqua;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 33%;
    text-align: center;
}

@media screen and (max-width: 500px) {
    div.content{
        width: 66%;
        left: 20%;
    }
}

div.content p {
    font-size: larger;
    font-weight: bold;
    padding: 13px 32px;
}

div.content a {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 32px;
    margin-bottom: 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

div.content a:hover {
    background-color: #408c99;
}

.bg {
    /* The image used */
    background-image: url("https://i.imgur.com/Y4GBq4Z.jpg");
    /* Full height */
    height: inherit;
    width: inherit;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}